<html>

<head>
<title>About the App</title>
</head>

<body>

<center><h2>About the Application</h2></center>
<p>This web application is a self-contained survey data collection and survey record relay package. It specifically presents the Social readjustment Survey of Holmes and Rahe (1967), to a rspondant who has navagated to this site.</p>

<p>The questionaire results provided by a respondant is coded and encrypted for storage and / or relay to a study management site while providing feedback to the respondant of their lifestyle stress score as weighted by Holmes and Rahe (1967) and an interpretation developed per 2.	Rahe and Arthur (1978).</p>

<p>Over the subsequent 48 years validation has been repeated with various edits of questionaire contents and weightings. (Goldberg and Comstock, 1976)(Spurgeon, Jackson and Beach, 2001). Various criticisms have been leveled about its relevance to illness development and suitibility for prediction. However the original is used for this prototype application and validation will relate to follow-up with respondants after 2 years.</p>

<p>For this application attempts to obscur respondant identities include encryption of the respondant email and Census Tract is undertake at collection time. Further the ZIP code collected is converted immediately to the more general census tract prior to the encryption process.</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
