<html>

<head>
<title>Background</title>
</head>

<body>

<h2>Study and Project Backgound</h2>

<p>The author first encountered this stress inventory during residency in 1983 (Dalhousie University Halifax NS). Already significant criticism had diminished the perception of validity and applicability to clinical practice in its extant form. The concept remains attractive with much of the attempts to apply it in some derivative form recently related to what DSM IV calls Axis 4 or Psychosocial Factors and Stressor affecting a case formulation.

<p>This study now is a pilot attempt to validate generally the original concept of a Life Stress Inventory such as that of Holmes and Rahe to the subsequent development of illness in the 2 years following the assessment. This type of study, as mentioned already has been repeated many times since the early years of the Social Readjustment Scale (see "About the Application") and the use in this study is as a gateway model to application of a more current instrument.</p>

<p>This first incarnation of a survey application is an aid to further development of the instrument and as a proof of concept for the application administration of the survey and the ultimate working study protocol</p>

<p>It is important to emphasize that viability of the score for prediction and the validity of the interpretation itselfh as not been appropriately tested or proven otherwise. It is hoped however, at this stage to be at least entertaining for respondants and to provide of insight into the question of stress as a pathogenic factor.</p>

<p>The primary outcome so far has been the devopment of a secure, automatic and sustainable data collection process and a model of survey response forwarding to a study repository. Finally, the development of the Web Application itself began as a project to partially fulfill the project requirement of The JHU Data Science Certification course "Developing Data Products". The plan being to extend the scope and functionality as I have outlined above in the "About the Application" section.</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
