<html>

<head>
<title>Contacts</title>
</head>

<body>

<h2>Site and Study Contacts</h2>

<p><strong>Core study group:</strong> medmatix@gmail.com</p>

<p><strong>Application and Site feedback or inquiries:</strong> infmtx.feedback@gmail.com</p>

<p><strong)Ningishzida-Toth (Medmatix) home:</strong> http://www.crunches-data.appspot.com</p>

<p><strong>Johns Hopkins Coursera Data Science Specialization Certificate Program:</strong> https://www.coursera.org/specializations/jhu-data-science</p>

</body>
</html>
