<html>

<head>
<title>Title</title>
</head>

<body>
  <div class="container-fluid">
    <div class="col-sm-12">
        <h2 style="text-align:center">Life Stress Survey</h2>
    </div>
    <div class="col-sm-4" style="background-color:Gold">
      <h2 style="text-align:center">Instructions</h2>
      <p>If a life event has occurred for you, select "Yes". Otherwise check "No" or leave unchecked.</p>
      <p>When the survey has been completed press "Submit and your score will be calculated and the score and its interpretation with respect to your 2 year illness risk will be returned.</p>
      <p>For the purposes of future follow-up an email is requested. In 1 and 2 years an email form will be sent to you with 2 simple outcome questions.</p>
      <div class="form-group shiny-input-container" style="width: 200px;">
        <label for="subjEmail">Your email address</label>
        <input id="subjEmail" type="text" class="form-control"/>
      </div>
      <p>To apply the data by age, we request your age range. </p>
      <div class="form-group shiny-input-container" style="width: 100px;">
        <label class="control-label" for="ageRange">Age range now:</label>
        <div>
          <select id="ageRange"><option value="17" selected>under 18</option>
<option value="20">18 to 25</option>
<option value="30">26 to 35</option>
<option value="40">36 to 45</option>
<option value="50">46 to 55</option>
<option value="60">56 to 64</option>
<option value="65">over 65</option></select>
          <script type="application/json" data-for="ageRange" data-nonempty="">{}</script>
        </div>
      </div>
      <p>To relate the data to a region of the US we request your ZIP code, which is not stored, but converted for storage to a US Census Tract number representing a whole block of ZIP codes.</p>
      <div class="form-group shiny-input-container" style="width: 100px;">
        <label for="zipCode">ZIP Code</label>
        <input id="zipCode" type="text" class="form-control" value="01001"/>
      </div>
      <br/>
      <p>
        <strong>Thank you for contributing to this project.</strong>
      </p>
    </div>
    <div class="col-sm-8" style="background-color:LemonChiffon">
      <h2 style="text-align:center">Life Events Questions</h2>
      <div class="col-sm-6">
        <div id="question1" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question1">Death of Spouse</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question1" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question1" value="100"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question2" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question2">Divorce</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question2" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question2" value="73"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question3" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question3">Marital separation</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question3" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question3" value="65"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question4" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question4">Jail term</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question4" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question4" value="63"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question5" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question5">Death of close family member</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question5" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question5" value="63"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question6" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question6">Marriage</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question6" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question6" value="53"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question7" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question7">Fired at work</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question7" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question7" value="50"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question8" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question8">Marital reconciliation</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question8" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question8" value="47"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question9" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question9">Retirement</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question9" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question9" value="45"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question10" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question10">Change in health of family member</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question10" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question10" value="44"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question11" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question11">Pregnancy</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question11" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question11" value="40"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question12" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question12">Sex difficulties</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question12" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question12" value="39"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question13" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question13">Gain of new family member</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question13" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question13" value="39"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question14" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question14">Business readjustment</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question14" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question14" value="39"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question15" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question15">Change in financial state</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question15" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question15" value="38"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question16" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question16">Death of close friend</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question16" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question16" value="Yes=37"/>
              <span>Yes=37</span>
            </label>
          </div>
        </div>
        <div id="question17" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question17">Change to a different line of work</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question17" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question17" value="36"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question18" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question18">Change in number of arguments with spouse</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question18" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question18" value="35"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question19" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question19">Home Mortgage over $100,000</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question19" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question19" value="31"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question20" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question20">Foreclosure or mortgage or loan</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question20" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question20" value="30"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question21" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question21">Change in responsibilities at work</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question21" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question21" value="29"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question22" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question22">Son or daughter leaving home</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question22" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question22" value="29"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div id="question23" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question23">Trouble with in-laws</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question23" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question23" value="29"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question24" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question24">Outstanding personal achievement</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question24" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question24" value="28"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question25" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question25">Spouse begins or stops work</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question25" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question25" value="26"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question26" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question26">Begin or end school</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question26" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question26" value="26"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question27" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question27">Change in living conditions</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question27" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question27" value="25"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question28" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question28">Revision of personal habits</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question28" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question28" value="24"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question29" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question29">Trouble with boss</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question29" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question29" value="23"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question30" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question30">Change in work hours or conditions</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question30" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question30" value="20"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question31" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question31">Change in residence</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question31" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question31" value="20"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question32" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question32">Change in schools</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question32" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question32" value="20"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question33" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question33">Change in recreation</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question33" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question33" value="19"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question34" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question34">Change in church activities</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question34" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question34" value="19"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question35" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question35">Change in social activities</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question35" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question35" value="18"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question36" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question36">Mortgage or loan of less than $100,000</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question36" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question36" value="17"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question37" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question37">Change in sleeping habits</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question37" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question37" value="16"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question38" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question38">Change in number of family get-togethers</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question38" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question38" value="15"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div id="question39" class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline">
          <label class="control-label" for="question39">Change in eating habits</label>
          <div class="shiny-options-group">
            <label class="radio-inline">
              <input type="radio" name="question39" value="0" checked="checked"/>
              <span>No</span>
            </label>
            <label class="radio-inline">
              <input type="radio" name="question39" value="15"/>
              <span>Yes</span>
            </label>
          </div>
        </div>
        <div class="form-group shiny-input-container">
          <label class="control-label" for="question40">Single person living alone,  Estimate the stress involved for yourself</label>
          <input class="js-range-slider" id="question40" data-min="0" data-max="15" data-from="0" data-step="1" data-grid="true" data-grid-num="7.5" data-grid-snap="false" data-prettify-separator="," data-keyboard="true" data-keyboard-step="6.66666666666667" data-drag-interval="true" data-data-type="number"/>
          <div class="slider-animate-container">
            <a href="#" class="slider-animate-button" data-target-id="question40" data-interval="1000" data-loop="FALSE">
              <span class="play">
                <i class="glyphicon glyphicon-play"></i>
              </span>
              <span class="pause">
                <i class="glyphicon glyphicon-pause"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="form-group shiny-input-container">
          <label class="control-label" for="question41">Other, describe briefly and estimate the stress involved for yourself</label>
          <input class="js-range-slider" id="question41" data-min="0" data-max="15" data-from="0" data-step="1" data-grid="true" data-grid-num="7.5" data-grid-snap="false" data-prettify-separator="," data-keyboard="true" data-keyboard-step="6.66666666666667" data-drag-interval="true" data-data-type="number"/>
          <div class="slider-animate-container">
            <a href="#" class="slider-animate-button" data-target-id="question41" data-interval="1000" data-loop="FALSE">
              <span class="play">
                <i class="glyphicon glyphicon-play"></i>
              </span>
              <span class="pause">
                <i class="glyphicon glyphicon-pause"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="form-group shiny-input-container">
          <label for="text41">Name stressor (up to 15 characters)</label>
          <input id="text41" type="text" class="form-control" value=""/>
        </div>
      </div>
      <br/>
      <span style="text-align:center">
        <div>
          <button type="submit" class="btn btn-primary">Submit Survey</button>
        </div>
      </span>
      <br/>
    </div>
    <div class="row" style="background-color:Gold">
      <div style="padding:20px">
        <h2>Interpretation</h2>
        <p>NOTE: Interpretation of the overall score is difficult because of the large differences in each person's ability to cope and their particular reactions to stress, but here are some general guidelines.</p>
        <p>A total of 150 or less is good, suggesting a low level of stress in your life and a low probability of developing a stress-related disorder.</p>
        <p>Your stress score is</p>
        <div id="resultText0" class="shiny-text-output"></div>
        <br/>
        <p>If your score is 300 or more, statistically you stand an almost 80% chance of getting sick in the near future.  </p>
        <p>If your score is 150 to 299, the chances are about 50%.</p>
        <p>At less than 150, about 30%.</p>
        <pre id="codedResponses" class="shiny-text-output"></pre>
        <pre id="studySumRec" class="shiny-text-output"></pre>
      </div>
    </div>
  </div>
</body>
</html>
