<html>

<head>
<title>How to</title>
</head>

<body>

<center><h2>How to Use the Application</h2></center>

<h3>Respondant-User</h3>

<p>If you are taking the survey or intend to, this part is for you. If we have done our jobs well, the survey should be intuitive for you and we should have reassured you that your personal data, as limited as it is is not accessible to anyone but those in the study protocol authorized to deal with it.</p>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<h3>Investigator-User</h3>

<p>If you are and investigator or data analyst, this part is for you. Here we will dicuss some of the workings and reports based on the non-identifiable data. Nessecary maintenance tasks will be discussed but are themselvse accessible only to the core study team by password</p>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
